# Backend Standalone Server Port
PORT=5000

# Environment Mode
NODE_ENV=development

# MongoDB Connection String (Local instance or Atlas cluster URI)
MONGODB_URI="mongodb://127.0.0.1:27017/doctortracker"

# JWT Secret Passphrase & Lifespan
JWT_SECRET="clinical_intelligence_doctortracker_jwt_secret_token_2026"
JWT_EXPIRES_IN="12h"

# CORS Allowed Origins
CORS_ORIGIN="http://localhost:3000"
